<div class="announcement-bar">
  <div class="announcement-hamburger" onclick="toggleAnnouncementDropdown()">
    <span class="hamburger-icon" id="hamburgerIcon">
      <!-- Hamburger Icon -->
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="13" viewBox="0 0 20 13" fill="none">
<path d="M1 6.5H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1 1.5H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1 11.5H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
    </span>
    <span class="close-icon hidden" id="closeIcon">
      <!-- Close Icon -->
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M6 6l12 12M6 18L18 6" stroke="#000" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </span>
  </div>

  <div class="announcement-logo">
    {% if section.settings.logo %}
    {% render 'responsive-picture', desktopImage: section.settings.logo %}
    {% else %}
      {{ 'product-1' | placeholder_svg_tag }}
    {% endif %}
  </div>

  <div class="announcement-text desktop-only">
    {{ section.settings.announcement_text }}
  </div>

  <a class="announcement-button desktop-only" href="{{ section.settings.button_link }}">
    {{ section.settings.button_label }}
    {% render 'icon-arrowsleft' %}
  </a>

  <div class="announcement-dropdown" id="announcementDropdown">
    <div class="mobile-announcement-text">
      {{ section.settings.announcement_text }}
    </div>
    <a class="mobile-announcement-button" href="{{ section.settings.button_link }}">
      {{ section.settings.button_label }}
      {% render 'icon-arrowsleft' %}
    </a>
  </div>
</div>


{% schema %}
{
  "name": "New Announcement Bar",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "choose gift",
      "default": "choose gift"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/collections/all"
    }
  ],
  "presets": [
    {
      "name": "New Announcement Bar"
    }
  ]
}
{% endschema %}
